$theme-colors: (
    "dark": #001c3d
);

$grid-gutter-width: 60px;

@import "~bootstrap/scss/bootstrap";

html, body {
	height: 100%;
	margin: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	color: rgba(0, 0, 0, 0.8);
}

.pageHeading {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1em;
	margin: 0 0 .5rem;
}

.pageHeading > a {
	color: inherit;
}

/*.SiteHeader {
	height: 70px;
	background: #001c3d;
	color: rgba(255, 255, 255, 0.7);

	a.logo {
		font-size: 17px;
		font-weight: 200;
	}

	a {
		height: 70px;
		line-height: 70px;
		color: rgba(255, 255, 255, 0.8);
		padding: 22px 0;
	}

	a:hover {
		color: #fff;
	}

	nav {
		float: right;
		font-weight: 300;
	}
	
	nav a {
		font-size: 12px;
		margin-left: 24px;
		text-transform: uppercase;
	}
}*/

.SiteFooter {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 40px 24px;
	font-weight: 300;
	word-wrap: initial;
	margin-top: 60px;

	a {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: underline;
		display: inline-block;
	}

	nav {
		margin-top: 12px;
	}

	nav a {
		margin-right: 10px;		
	}
}

.IndexPage {
	> .siteIntro {
		padding-top: 4rem;
		padding-bottom: 1.5rem;
		max-width: 768px;

		h1 {
			font-size: 40px;
			font-weight: 700;
			line-height: 1.1em;
			margin: 0 0 .5rem;
		}
	
		p {
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.55em;	
		}
	
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);		
	}

	> nav {
		padding: 1rem;
		border-top: 1px solid rgba(0, 0, 0, 0.1);	
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		max-width: 1020px;
		margin: auto;		
	}

	.goals {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	
	.goals img {
		width: 140px;
		height: 140px;
		margin-top: 7px;
		margin-right: 14px;
		margin-bottom: 7px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
		filter: brightness(95%);
	}

	.goals img:hover {
		filter: brightness(120%);
	}
}

.AboutPage {
	> header {
		padding-top: 3rem;
		padding-bottom: 2rem;
	}

	img {
		float: left;
		margin-right: 2rem;
		margin-bottom: 2rem;
	}
	
	h1 {
		margin-top: 0;
	}
}

.GoalPage {
	/*> header {
		max-width: 1120px;
        margin: auto;
        height: calc(100vh - 70px - 30px);
        display: flex;
        align-items: center;
	}*/

	> header .goalIntro {
		display: flex;
		align-items: center;
		justify-content: left;
		box-sizing: border-box;
		padding: 2rem 0;
	
		h1 {
			@extend .pageHeading;
			line-height: 1.2em;
		}
		
		img {
			width: 150%;
			margin-right: 2rem;
		}
	
		span {
			opacity: 0.7;
		}
    }

	> .content {
        .target {
            @extend .container;
            margin: 60px auto;
            padding: 60px 20px;
        }

        .target > span {
            text-transform: uppercase;
        }

        .target > h2 {
            font-size: 1.4rem;
            line-height: 1.5em;
        }

        .indicator .col > span {
            text-transform: uppercase;
            color: rgba(0,0,0,.3);
            font-size: 1rem;
            letter-spacing: .2;
        }
        
        .indicator .col > h3 {
            margin-top: 0.3em;
            /*text-transform: uppercase;
            font-family: 'Pontano Sans', sans-serif;
            letter-spacing: 0.5;*/
        }

		> p {
			line-height: 1.7em;
			margin-bottom: 1em;
        }

        > hr {
            @extend .container;
            margin-top: 60px;
            padding-top: 60px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 0;
        }
        
        > table.indicators {
            border-collapse: collapse;
            border-spacing: 0;
            color: #000;
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        
            > tbody {
                border-bottom: 1px solid #ddd;
            }

            td:first-child {
                text-align: center;
            }
            
            td,
            th {
                border: 1px solid #aaa;
                padding: 0.4em;
            }
            
            th {
                font-weight: 700;
            }            
        }
	}
}

$no-poverty-color: #e5243b;
$zero-hunger-color: #dda63a;
$good-health-color: #4c9f38;
$quality-education-color: #c5192d;
$gender-equality-color: #ff3a21;

.GoalPage.good-health {
    .target {
        background-color: $good-health-color;
        color: white;

        p {
            font-family: 'Vesper Libre', serif;
        }

        p:last-child {
            font-size: 0.9em;
        }

        a {
            color: white;
            text-decoration: underline !important;
        }
    }

    h1, .indicator .col > h3 {
        color: $good-health-color;
    }
}

a {
    text-decoration: none;
}

article {
    a {
        color: #3366cc;
    }
    
    a:hover {
        text-decoration: underline;
    }
}



iframe {
	border: none;
}

$mobileWidth: 767px;

@media only screen and (max-width: 767px) {
	.content, .target {
		> p, > h1, > h2, > h3, > h4, > h5, > h6, > .blocks {
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	/*.content > .blocks {
		display: block;

		> .block {
			width: 100%;
			margin-bottom: 1rem;
		}

		figure {
			height: 550px;
			margin: 0;
		}
	}*/

	.IndexPage .goals {
		justify-content: space-between;
	}
	.IndexPage .goals a {
		width: 32%;
		margin: 1vw 0;
		img {
			width: 100%;
			height: auto;
			margin: 0;
		}
	}
}

.content > .indicator {
    @extend .container;
}

@media only screen and (min-width: 768px) {
	.content {
		> p, > h1, > h2, > h3, > h4, > h5, > h6, > table {
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
        }
        
        .target > * {
            margin-left: calc(5% - 16px);
            margin-right: calc(25% - 16px);
        }

        > .blocks {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        > .indicator {
            > .block {
                display: flex;
                flex-direction: column;
                width: 45%;
                max-width: 700px;
                margin: 2em 1em;    
            }

            figure {
                width: 100%;
                height: 550px;
                margin: 0;
                margin-top: auto;    
            }
        }
    }

	html {
		font-size: 16px;
	}
	.pageHeading {
		font-size: 36px;
	}
	.IndexPage > .siteIntro h1 {
		font-size: 50px;
	}
}

@media only screen and (max-width: 1139px) {
	.goalIntro img {
		display: none;
	}
}