.homepage {
    height: 100%;
    text-align: center;

	& hr {
		width: 200px;
		border-top: 5px solid #50585D;
		margin: 1em;
	}

	& section:not(.cover) {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;		

		margin-top: 3em;
		border-top: 1px solid #ccc;
		padding-top: 3em;
	}

	& section > *:not(hr) {
		width: 90%;
		max-width: 800px;
	}

	& footer {
		margin-top: 2em;
		border-top: 1px solid #ccc;
		padding-top: 2em;
		padding-bottom: 30px;
	}
}

.cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	font-size: 1.3em;
	margin-bottom: -2em;

	& h1 {
		margin-top: 1em;
	}

	& p {
		margin-top: 0;
		font-style: italic;
	}

	& i.fa-angle-down {
		font-size: 3em;
	}
}

.sunflower {
	max-height: calc(100vh - 15em);
	height: 90vw;
}

@media (max-width: 900px) {
	.sunflower {
		max-height: 50vh;
	}
}

.yellowSection {
	background: #f5aa44;
	color: white;

	& hr {
		border-color: white;
	}

	& a {
		color: white;
	}
}

.socialLinks {
	margin-top: 0.8em;

	& a {
		color: #50585D;
		border: 2px solid #50585D;
		border-radius: 100%;
		width: 1.8em;
		height: 1.8em;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2em;
		margin-left: 10px;
		margin-right: 10px;

		&:hover {
			color: white;
			border-color: white;
			background: #f5aa44;
			text-decoration: none;
		}		
	}
}

.currentProject {
	& img {
		width: 100%;
	}

	& .project {

	}
}

.contact {
	& input[type=text],
	& input[type=email],
	& textarea {
		display: block;
		border: none;
		border-top: 1px solid #eee;
		padding: 1em 1.5em;
		font-size: 1em;
		width: 100%;
		outline: none;
	}

	& textarea {
		font-family: inherit;
		resize: none;		
		border-bottom: 1px solid #eee;
		margin-bottom: 1em;
	}

	& input[type=submit] {
		display: block;
		border: none;
		padding: 0.75em 1em;
		color: white;
		background: #f5aa44;
		font-weight: bold;
		font-size: 1em;
		border-radius: 0.4em;
		margin-left: 1.5em;
		cursor: pointer;

		&:hover {
			background: #f57944;
		}
	}
}

.homepageSummary {
	flex-grow: 1;
    padding-top: 50px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & header {
		text-align: center;
	    margin-bottom: 1.5em;    	
    }
	
	& header h1 {
	    margin-top: 0.5em;
	    font-size: 1.8em;
	}

	& header a {
		color: #50585D;
		font-size: 3.5em;
		margin: 0px 20px;
	}

	& header a:hover {
		color: #f5aa44;
	}

	& main {
		display: flex;
		flex-direction: row;
	}

	& .writing {
	    max-width: 600px;
	    margin: 1em;
	}

	& .writing ul {
		padding: 0;
		list-style-type: none;
	}

	& .writing li {
	    margin-bottom: 1em;
	}
}
